.submitButton {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    background-color: #034C8C;
    color: #fff;
    cursor: pointer;
}

.button {
    composes: submitButton;
    padding: 7px 15px;
    font-size: 0.75em;
    background-color: #F2F2F2;
    color: #000;
    margin: 10px 5px;
    border: 1px rgb(148, 145, 145) solid;
}
  
.button:hover, .submitButton:hover {
    background-color: #03658C;
}