.container {
  padding: 12px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #F2F2F2;
}

.fileContainer {
  display: flex;
  border: 1px rgb(209, 206, 206) solid;
  margin: 5px;
}

.buttonContainer {
  align-self: flex-end;
}