.container {
  padding-bottom: 82px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  margin: auto;
  margin-top: 20px;
  padding: 30px;
  border: 1px solid #00408c;
  border-radius: 10px;
  /* background-color: #F2F2F2; */
}

.buttonContainer {
  align-self: flex-end;
}