.container {
    padding: 12px;
    width: 100%;
    overflow-x: auto;
    margin: auto;
}

.groupButtonContainer {
    display: flex;
}

@media only screen and (max-width: 650px) {
    .groupButtonContainer {
        flex-direction: column;
    }
}