.navigation {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    font-size: 1em;
    padding: 0 1em;
}

.image {
    width: 90%;
}

.navigationContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.navigation li {
    list-style-type: none;
}

.link a {
    color: #000000;
    text-decoration: none;
}

.link a:visited {
    color: #000000;
}

.link a:hover {
    color: #034C8C;
    text-decoration: underline;
}

@media screen and (max-width: 600px) {
    .navigationContainer {
        flex-direction: column;
    }
}