.title {
    background-color: #00408c;
    color: #fff;
    text-transform: uppercase;
    font-weight: normal;
    padding: 1em;
    text-align: center;
    font-size: 1em;
    margin-bottom: 80px;
}