.table {
    border-collapse: collapse;
    width: 100%;
    max-width: 700px;
    font-size: 1em;
    margin: 80px auto;
}

.table td, .table th {
    border: 1px solid #ccc;
    padding: 1em;
    width: 30%;
}

.table th {
    text-align: left;
    background-color: #F2F2F2;
}